--extra-index-url https://pypi.anaconda.org/OpenEye/simple
OpenEye-toolkits == 2020.2.2
fastapi == 0.68.0
# pydantic == 1.7.4
gunicorn == 20.0.4
rcsb.utils.io >= 1.17
rcsb.utils.chem >= 0.73

#
# Used by FastAPI / Starlette / Pydantic:
requests >=2.24.0,<3.0.0
aiofiles >=0.5.0,<0.6.0
jinja2 >=2.11.2,<3.0.0
#itsdangerous >=1.1.0,<2.0.0
#pyyaml >=5.3.1,<6.0.0
#graphene >=2.1.8,<3.0.0
#ujson >=5.1.0
#orjson >=3.2.1,<4.0.0
#email_validator >=1.1.1,<2.0.0
uvicorn[standard] >=0.12.0,<0.14.0
async_exit_stack >=1.0.1,<2.0.0
async_generator >=1.10,<2.0.0
#
