# This file is specific to production environmemt. 
# Any of the values in K8s/helm/values.yaml can be overridden here specific to production environment. 

image:
  tag: "production"

resources:
  limits:
    cpu: "1.5"
    memory: "4.5Gi"
    ephemeral-storage: "9G"
  requests:
    cpu: "0.5"
    memory: "2.5Gi"
    ephemeral-storage: "9G"

# Ingress resource changes would lead to updates in production URL. Review with DevOps before updating.
ingress:
  enabled: true
  className: haproxy
  annotations:
    cert-manager.io/cluster-issuer: rutgers-acme
    kubernetes.io/tls-acme: "true"
    haproxy.org/allow-list: >-
      128.6.158.0/23, 132.249.210.0/24, 132.249.213.0/24, 163.114.226.0/24, 163.114.225.0/24, 
      209.177.156.77/32, 147.75.68.120/29, 163.114.227.0/24, 163.114.228.0/24, 163.114.224.0/24, 147.75.66.200/29,
      163.114.230.0/24, 163.114.232.0/24
  hosts:
    - host: chemsearch.k8s.rcsb.org
      paths:
        - path: /
          pathType: ImplementationSpecific
    - host: chemsearch.east.k8s.rcsb.org
      paths:
        - path: /
          pathType: ImplementationSpecific
    - host: chemsearch.west.k8s.rcsb.org
      paths:
        - path: /
          pathType: ImplementationSpecific
    - host: chemsearch.rcsb.org
      paths:
        - path: /
          pathType: ImplementationSpecific
    - host: chemsearch-east.rcsb.org
      paths:
        - path: /
          pathType: ImplementationSpecific
    - host: chemsearch-west.rcsb.org
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - chemsearch.k8s.rcsb.org
        - chemsearch.east.k8s.rcsb.org
        - chemsearch.west.k8s.rcsb.org
        - chemsearch.rcsb.org
        - chemsearch-east.rcsb.org
        - chemsearch-west.rcsb.org
      secretName: chemsearch.k8s.rcsb.org-tls

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 225
  targetMemoryUtilizationPercentage: 175

podEnvVars:
  - name: CHEM_SEARCH_DATA_HOSTNAME
    value: buildlocker.production
  - name: CHEM_SEARCH_DATA_PATH
    value: 4-coastal
  - name: OE_LICENSE
    value: /home/ubuntu/oe-license/oe-license.txt
  - name: GIT_PYTHON_REFRESH
    value: quiet
  - name: CHEM_SEARCH_CACHE_PATH
    value: /app/CACHE
  - name: CHEM_DEPICT_CACHE_PATH
    value: /app/CACHE